<h1>Shortee<br></h1>
<h3>Enter URL to be shortee'd:<br></h3>

<%= form_for @shortee do |form| %>

<div class="input-field inline">
  <p>
    <%= form.text_area :url, id: "textarea1", class:"materialize-textarea" %>
    <label for="textarea1">http://www.example.com</label>
  </p>
</div>

  <% if @shortee.errors[:url].any? %>
    <p class='error-messages'>
      <%= @shortee.errors[:url].to_sentence %>.
    </p>
  <% end %>


  <p class='buttons'>
    <%= form.submit "Shortee my URL!", style: "box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.2), 0 2px 10px 0 rgba(0, 0, 0, 0.19);" %>
  </p>


<% end %>



<!-- <div class="card">
  <div class="card-image waves-effect waves-block waves-light">
    <img class="activator" src="images/office.jpg">
  </div>
  <div class="card-content">
    <span class="card-title activator grey-text text-darken-4">Card Title<i class="material-icons right">more_vert</i></span>
    <p><a href="#">This is a link</a></p>
  </div>
  <div class="card-reveal">
    <span class="card-title grey-text text-darken-4">Card Title<i class="material-icons right">close</i></span>
    <p>Here is some more information about this product that is only revealed once clicked on.</p>
  </div>
</div> -->
