
<div class="bigframe">
  <h1>Shortee<br></h1>
  <h3>Enter URL to be shortee'd:<br></h3>

  <%= form_for @shortee do |form| %>

  <div class="input-field inline">
    <p>
      <%= form.text_area :url, id: "textarea1", class:"materialize-textarea" %>
      <label for="textarea1">http://www.example.com</label>
    </p>
  </div>

    <% if @shortee.errors[:url].any? %>
      <p class='error-messages'>
        <%= @shortee.errors[:url].to_sentence %>.
      </p>
    <% end %>

<div class="">
  <p class='buttons'>
    <%= form.submit "Shortee my URL!", style: " box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.2), 0 2px 10px 0 rgba(0, 0, 0, 0.19);" %>
  </p>
</div>



  <% end %>
</div>
